
<form action=" <%= new_session_url %>" method="POST">
    <label for="user[username]">Username: 
        <input type="text" name="user[username]" value="">
    </label>
    <label for="user[password]">Password: 
        <input type="password" name="user[password]" value="">
    </label>
</form>